{% include 'sitio/header.html' %}
          
        <br>
        <main>
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    
                    <div
                        class="h-100 p-5 text-white bg-primary border rounded-3"
                    >
                        <h2>Bienvenido</h2>
                        <p>
                            Este es mi sitio web con Python y Flask.
                        </p>
                        <button
                            class="btn btn-outline-primary"
                            type="button"
                        >
                            Comenzar
                        </button>
                    </div>
                    
            </div>
        </main>

        <br>
        
{% include 'sitio/footer.html' %}